/* Login */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.login-container {
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 420px;
}

.login-container h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
}

.login-form {
    position: relative;
    margin-bottom: 20px;
}

.input-container {
    position: relative;
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.input-container i {
    position: absolute;
    left: 10px;
    top: 40%;
    transform: translateY(-50%);
    font-size: 18px;
    color: black;
    transition: transform 0.3s ease;
}

.input-container input[type="text"],
.input-container input[type="password"] {
    padding: 20px 10px 20px 40px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%;
}

.login-form button {
    width: 30%;
    padding: 10px;
    border: none;
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
    color: rgb(9, 9, 9);
    cursor: pointer;
    margin: 0 auto;
}

.button {
    display: block;
    margin: auto;
}

.login-container .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -5px 0 5px;
}

.remember-forgot label input {
    accent-color: #fff;
    margin-right: 3px;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.login-container .register-link {
    font-size: 14.5px;
    text-align: center;
    margin-top: 10px;
}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600; 
}

.register-link p a:hover {
    text-decoration: underline;
}





/* Dashboard */

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: rgba(253, 135, 200, 0.5);
    color: rgb(240, 232, 232);
    padding: 10px 16px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
    display: flex;
}

nav {
    height: 100vh;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 0;
    transition: all 0.3s ease;
    background-color: #ED8EE9;
}

nav.collapsed {
    width: 60px;
}

nav h2 {
    margin-bottom: 30px;
    font-size: 1.5rem;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 20px;
}

nav ul li {
    margin-bottom: 10px;
}

nav ul li a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    padding: 10px;
}

nav ul li a i {
    font-size: 1.2rem;
    margin-right: 5px;
}

.sidebar-button {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
}

.sidebar-button:hover {
    color: #ddd;
    background-color: #444;
}

footer {
    background-color: #ED8EE9;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.logout-button {
    position: absolute;
    margin-top: 50px;
    left: 300px;
    top: 10px;
    background-color: #f878f2;
    padding: 5px 10px;
    border: #FB21F0;
}

.logout-button a {
    color: white;
    text-decoration: none;
}

main {
    margin-left: 220px;
    padding: 20px;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; 
    color: white;
    height: 100vh;
}

main.collapsed {
    margin-left: 60px;
}

.head-content, 
.content{
    padding-top: 50px;
    text-align: center;
    color: #fff;
    margin-bottom: 10px;
}
 
